
.dishesSlideContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .dishesSlideContent img {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    border-radius: 50%;
  }
  .dishesSlideContent p {
    font-size: 1.35rem;
    color: var(--blue);
    font-weight: 400;
    margin: 0.75rem 0 0 0;
    text-align: center;
  }